:root {
    --primary-text-color: #ffffff;
    --basic-text-color: #212121;
    --accent-text-color: #2196f3;
    --secondary-text-color: #757575;
    --text-color: #000000;
    --basic-bcg-color: #ffffff;
    --secondary-bcg-color: #f5f4fa;
    --bcg-color-light: #f5f5f5;
    --bcg-color: #2f303a;
    --button-accent-color: #2196f3;
    --button-primary-color: #f5f4fa;
    --button-text-color: #ffffff;
    --button-filter-color: #212121;
    --button-active: #188ce8;
    --shadow: rgba(0, 0, 0, 0.25);
    --bcg-box: #f5f4fa;
    --icon-color: #afb1b8;
    --bcg-backdrop: rgba(0, 0, 0, 0.2);
    --input-border: rgba(33, 33, 33, 0.2);
}