.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  // z-index: 1;
  background-color: var(--basic-bcg-color);
  padding: 40px 0 48px 25px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) transform 250ms;

  &.is-open {
    transform: translateY(0);
    display: block;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: var(--basic-bcg-color);
    transition: cubic-bezier(0.4, 0, 0.2, 1) fill 250ms;

    &:hover,
    &:focus {
      fill: var(--accent-text-color);
    }
  }

  &__nav__list {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__nav-link {
    text-decoration: none;
    color: var(--basic-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: cubic-bezier(0.4, 0, 0.2, 1) color 250ms;

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__contact-tel {
    margin-bottom: 32px;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: cubic-bezier(0.4, 0, 0.2, 1) color 250ms;

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }

  &__contact-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: cubic-bezier(0.4, 0, 0.2, 1) color 250ms;

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }

  &__social-list {
    display: flex;
    margin-top: 64px;
  }

  &__social {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);

    @media (min-width: 480px) {
      font-size: 18px;
    }
  }
}

.line {
  margin: 0 10px;
  width: 22px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
